@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bg {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    205deg,
    rgba(2, 0, 36, 0.87718837535014) 0%,
    rgba(121, 88, 9, 1) 63%
  );
}

.active-nav {
  border-bottom: 2px solid wheat;
  position: relative;
}

/* .active-nav::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -40px;
  left: 36%;
  border-right: 20px solid #392e30;
  border-top: 20px solid transparent;
  transform: rotate(45deg);
} */

h1 {
  @apply text-3xl font-bold;
}
h2 {
  @apply text-2xl font-bold;
}
h3 {
  @apply text-xl font-bold;
}

.chef-contener {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    225deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(15, 42, 95, 1) 58%
  );
}
